:root{
    --green: #46ceac;
    --green_h: #35ba9b;
    --green_l: #61ddbc;

    --blue: #4fc0e8;
    --blue_h: #3aadd9;
    --blue_l: #66d4f1;

    --yellow: #fdcd56;
    --yellow_h: #f5b945;
    --yellow_l: #fbd277;

    --red: #eb5463;
    --red_h: #d94452;
    --red_l: #f76c82;

    --primary: #4BCFFA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: black;
    color: white;
}

.header{
    max-width: 1140px;
    height: 100px;

    margin: auto;

    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
    margin-left: 30px;
}

.logo-img img{
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
}

/*** MENU ***/

.menu-opener {
    display:none;
    width:32px;
    margin-right:30px;
    cursor: pointer;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, 
.menu li{
    list-style: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;

    height: 100px;
    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid var(--primary);
    color: #ccc;
}

.button{
    display: inline-block;
    max-width: 200px;

    background-color: #000;
    color: white;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    font-size: 12px;
    font-weight: 600;

    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;

    border: 1px solid black;
}

.button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: black;
}

/*** BANNER ***/

.banner{
    /* width: 100%; */

    height: calc(100vh - 100px);
    background-color: #333;
}

.sliders{
    width: 300%;
    height: 100%;
    transition: all ease 1.5s;
    overflow: hidden;
}

.slide{
    width: 100vw;
    height: 100%;
    display: inline-block;

    top: 0;
}

.slide-area{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.slide1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../../media/bg.jpg') center /cover ;    
}

.slide2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../../media/code.jpg') top 0px left 0px / cover ;
}
.slide3{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('../../media/teclado.jpg') center/cover;
}

.slide-text{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    padding: 30px;
    border-radius: 12px;
}

.slide-area h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px;
}

.slide-area h1 span{
    color: var(--primary);
}

.slide-area h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.sliders-pointers{
    width: 100vw;
    height: 20px;

    position: absolute;
    margin-top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer{
    width: 15px;
    height: 15px;

    border: 2px solid var(--primary);
    border-radius: 8px;

    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.pointer.active{
    background-color: var(--primary);
}

/*** SECTIONS ***/

.default{
    width: 100vw;
    padding: 50px 0;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body{
    color: black;
}

.default.dark{
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color: white;
}

footer {
    background-color:#000;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer-social {
    display:flex;
}
.footer-social a {
    display:block;
    width:25px;
    height:25px;
    background-color:#333;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:13px;
    margin-right:10px;
}
.footer-social a:hover {
    background-color:var(--primary);
}
.footer-social img {
    height:10px;
}
.footer--item.area2 {
    color:#999;
    line-height:20px;
    font-size:13px;
    padding:0 10px 10px 10px;
}
.footer--item.area3 form {
    background-color:#333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}

/*** ABOUT ***/

.section-about-linkedin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.section-about--left-linkedin{
    flex: 1;
    padding: 10px 30px;
    text-align: left;
    width: 50%;
}

.section-about--left-linkedin p{
    font-size: 14px;
    line-height: 20px;
    padding-top: 30px;
}

.section-about--right-linkedin{
    width: 50%;
    padding-bottom: 30px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ****** */

.section-about{
    display: flex;
    flex-direction: column;
}

.section-about--left{
    flex: 1;
    padding: 10px 30px;
    text-align: center;
}

.section-about--left iframe {
    width: 80%;
}

.section-about--left p{
    font-size: 14px;
    line-height: 20px;
    padding-top: 30px;
}

.section-about--right{
    width: 100%;
    padding-bottom: 30px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-about--right img{
    width: 250px;
    height: 250px;
    box-shadow: 0px 0px 10px #333;
    border-radius: 50%;
}

/* Linkedin */
.section-about--right .LI-icon{
    border-radius: 0px;
    box-shadow: none;
}

/*** VIDEO ***/

.section-aboutus--right{
    width: 100%;
    height: 100%;

    margin-top: 20px;

    position: relative;
    text-align: center;
}

.section-aboutus--right video{
    width: 100%;;
    box-shadow: 0px 0px 10px #333;
}

.section-aboutus-right--playvideo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 100%;;
}

.section-aboutus-right--playvideo i{
    font-size: 100px;
    color: #f7f7f7;
    cursor: pointer;
    margin: 0 10px 0 10px;
    text-align: center;
}

/*** SERVICES ***/

.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;

    padding: 12px 32px;
    
    border-right: 1px solid #333;
}

.section-service:first-child{
    border-left: 2px solid #333;
}

.section-service img{
    width: 60px;
    height: 60px;
}

.section-service h4{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/*** PROJECTS ***/

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #ccc;
    
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    cursor: pointer;
    border-bottom: 3px solid var(--primary);
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;

}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0,0,0, 0.5);

    width: inherit;
    height: inherit;

    display: none;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover 
.section-projects--photoinfo{
    display: flex;
}

/*** EQUIPE ***/

.bg-team{
    background-image: url('../../media/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team--area{
    background-color: rgba(0,0,0, 0.8);
    padding-top: 50px;
    padding-bottom: 70px;
}

.section-team{
    overflow: hidden;
    max-width: 920px;   
    margin: auto;
}

.section-team .sliders-team{
    width: 1000vw;
    height: 100%;

    transition: all ease 1.5s;
}

.section-team .slide-team{
    width: 280px;
    height: 100%;

    min-height: 300px;

    display: inline-block;
    background-color: white;
    margin-right: 20px;
    border-radius: 7px;
}

.section-team .slide-area{
    display: flex;
    flex-direction: column;
    height: 100%;

    padding: 28px;

    justify-content: center;
    align-items: center;

    color: black;
}

.section-team--area .sliders-pointers {
    width:100vw;
    height:20px;

    margin-top: 20px;
}

.section-team--area .pointer{
    width: 15px;
    height: 15px;

    border: 2px solid var(--primary);
    border-radius: 8px;

    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team--area .pointer.active{
    background-color: var(--primary);
}

.section-team--image{
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;

    margin-top: 30px;
}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;

}

.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 26px;
    margin-right: 8px;
    background-color: #ccc;

    border-radius: 13px;
}

.section-team--social a:hover{
    background-color: var(--primary);
}

/*** TESTIMONALS ***/
.testimonials {
    padding-top: 40px;
    padding-bottom: 60px;
}
.testimonials .section-body {
    max-width: initial;
}
.section-testimonials {
    overflow: hidden;
}
.section-testimonials .sliders-testimonials {
    width: 1000vw;
    height: 100%;

    transition: all ease 1.5s;
}
.section-testimonials .slide-testimonials {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid var(--primary);
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:var(--primary);
}

/*** COMPANIES ***/

.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

/*** PRICE ***/

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

/*** PREMIUM ***/

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders-premium {
    width:1000vw;
    height:100%;

    transition: all ease 1.5s;
}
.section-premium .slide-premium {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
    padding: 0 30px;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;

    display:flex;
    justify-content: center;
    align-items: center;

    margin-top:18px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid var(--primary);
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:var(--primary);
}

/*** FACTS  ***/

.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:var(--primary);
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid var(--primary);
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

/*** SHARE ***/

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

/*** CONTACT ***/

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

/*** MAP ***/

.section-map {
    background-image:url('../../media/mapa.jpg');
    background-size:cover;
    background-position:center;
    padding-top:30px;
    padding-bottom:30px;
}
.section-map--area {
    width:100vw;
    max-width:1140px;
    margin:auto;
}
.section-map--info {
    width:50%;
    padding:30px;
    background-color:#FFF;
    color:#000;
}
.section-map--info-item {
    display:flex;
    align-items:center;
    color:#999;
    margin-bottom:10px;
}
.section-map--info-item-img {
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}
.section-map--info-item-img img {
    width:15px;
    height:auto;
}

/*** MOBILE ***/

@media (min-width:450px) and (max-width:800px) {

    .logo {
        margin-left:30px;
    }

    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }

    nav {
        display:none;
        position: absolute;
        z-index: 99;

        background-color: rgba(0, 0, 0, 0.9);

        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:var(--primary);
    }

    /*** ABOUT ***/

    .section-about {
        flex-direction:column;
        align-items: center;
    }

    .section-about--left {
        text-align: center;
        margin: auto;
        width: 80%;
        padding-bottom: 50px;
    }

    .section-about--left iframe {
        width: 80%;
    }

    .section-about--right {
        width: 100%;
        margin: 0 30px;
    }

    /* .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    } */

    .section-aboutus--right img {
        width: 400px;
    }

    .section-aboutus--right,
    .section-aboutus-right--playvideo{
        width: 400px;
        margin: auto;
    }


    /*** SERVICES ***/

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    /*** PROJECTS ***/

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }

    /*** TEAM ***/

    .section-team {
        max-width:580px;
    }

    /*** PRICE ***/

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    /*** FACTS ***/

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }

    /*** MAP ***/

    .section-map {
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
}

/*** SMALL DEVICES ***/

@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:var(--primary);
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:17px;
    }

    /*** ABOUT ***/

    .section-about-linkedin,
    .section-about {
        flex-direction:column;
    }

    .section-about--left-linkedin,
    .section-about--left {
        text-align: center;
        margin: auto;
        width: 80%;
    }
    .section-about--right-linkedin,
    .section-about--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-about--right img {
        width: 100px;
        height: 100px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width: 300px;
    }

    .section-aboutus-right--playvideo{
        width: 300px;
        margin: auto;
    }

    .button{
        text-align: center;
    }

    /*** SERVICES ***/

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    /*** PROJECTS ***/

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    /*** TEAM  ***/

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(100% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding-left:20px;
        padding-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }

    .section-share {
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .section-share--legend {
        width:100vw;
        margin:0;
        margin-bottom:30px;
        justify-content: center;
    }
    .section-share--item {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    .section-contact {
        max-width:100vw;
        margin-left:20px;
        margin-right:20px;
    }
    .section-contact--split {
        flex-direction: column;
    }

    .section-map {
        padding:0;
        padding-bottom:250px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }

    .footer--area {
        flex-direction:column;
    }
    .footer--item {
        margin-bottom:20px;
    }
    .footer-social {
        justify-content: center;
    }
}